html {
    background-color: black;
    text-align: center;
}

li, h2, h3, h4 {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}

header {
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    background-color: black;
}

nav {
    display: inline-flex;
}

header img {
    justify-content: flex-start;
}

ul {
    justify-content: flex-end;
}

li {
    display: inline-flex;
}