html {
    background-color: black;
    text-align: center;
}

li, h2, h3, h4 {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}

header {
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    background-color: black;
    height: 69px;
    border-bottom: 1px solid seashell;
}

nav {
    display: inline-flex;
    align-items: center;
    height: 69px;
    width: 100%;
    text-align: right;
}

header img {
    justify-content: flex-start;
    height: 50px;
    width: auto;
    opacity: 0.9;
}

ul {
    justify-content: flex-end;
}

li {
    display: inline-block;
    text-decoration: underline;
}